html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#fileInput {
    height: 30px;
    position: relative;
    z-index: 100;
}

#photoHolderWrapper {
    width: 100%;
    height: calc(100% - 30px);
    user-select: none;
}
